*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log

.gradle/
build/
bin/
run/
.classpath
.project
.settings/
*.launch

.idea/
*.iml
*.ipr
*.iws
.vscode/

out/
target/
classes/

*.DS_Store
Thumbs.db

loom-cache/
